.diet__planner {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  &__nav__group {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }

  &__text__field {
    opacity: 1;
    color: black;
  }

  &__content {
    background-color: black;//#F5FFFA;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -10% 0 0 -25%;
    border-radius: 1rem;
    opacity: .9;
  }
}
