.main {
  &__button {
    cursor: pointer;
    display: inline-block;
    background: #4B99AD;
    font-style: italic;
    border-radius: 5px;
    // color: #ECECEA;
    padding: 6px 12px 6px 12px;

    &:focus {
      background: #4691A4;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  &__caption {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 35%;
    height: 400px;

    &__description {
      color: black;
      margin-top: 30px;
    }

    &__layout {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30%;
      width: 50%;
      margin: 3% 0 0 -25%;

      &__header {
        font-size: 2rem;
      }

      &__subtext {
        font-style: italic;
      }

      &__auth {
        margin-top: 30px;

        &__text {
          font-style: italic;
          font-size: .8rem;

          a {
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.ReactModal__Content {
  //require to override react-modal style
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.modal {
  font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  &__header {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }

  &__divider {
    border-width: .5px;
    border-color: #BEBEBE;
  }

  &__form {
    margin: 10px auto;
    max-width: 400px;

    &__input {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #BEBEBE;
      padding: 7px;
      width: 48%;
      margin: 0px;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;

        &:focus {
          -moz-box-shadow: 0 0 8px #88D5E9;
          -webkit-box-shadow: 0 0 8px #88D5E9;
          box-shadow: 0 0 8px #88D5E9;
          border: 1px solid #88D5E9;
        }
    }

    &__label {
      font-size: .6rem;
      margin:0 0 3px 0;
      padding: 0;
      display: block;
      font-weight: bold;

      &-required {
        color: red;
      }
    }

    &__input-small {
      @extend .modal__form__input;
      width: 48%;
    }

    &__group {
      text-align: center;
      padding-top: 10px;

      &__submit {
        background: #4B99AD;
        border: none;
        color: #fff;
        padding: 6px 12px 6px 12px;
        cursor: pointer;

        &:focus {
          background: #4691A4;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }
      }
    }
  }
}
