.product {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;

  &__title {
    overflow: hidden;
    font-family: cursive;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 5rem;
    font-size: .8rem;
    margin-top: -5px;
  }

  &__image {
    background: black;
    border-radius: 50%;
  }
}
