.product {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &__title {
    font-family: cursive;
    font-size: .8rem;
    margin-top: -5px;
  }

  &__image {
    background: black;
    border-radius: 50%;
  }
}
